/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* All style WooCommerce */
/* Archive page */
/* Responsive size */
/* Mixins */
/* ANIMATION */
.playfair-display {
  font-family: Roboto Condensed; }

@-webkit-keyframes spin {
  /**
 * Image fit 
 * @since 2.1.0
*/
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    /* BACKGROUND GRADIENT */
    /* TRANSFORM STYLE */ } }

@-moz-keyframes spin {
  /**
 * Image fit 
 * @since 2.1.0
*/
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    /* BACKGROUND GRADIENT */
    /* TRANSFORM STYLE */ } }

@-ms-keyframes spin {
  /**
 * Image fit 
 * @since 2.1.0
*/
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    /* BACKGROUND GRADIENT */
    /* TRANSFORM STYLE */ } }

@-o-keyframes spin {
  /**
 * Image fit 
 * @since 2.1.0
*/
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    /* BACKGROUND GRADIENT */
    /* TRANSFORM STYLE */ } }

@keyframes spin {
  /**
 * Image fit 
 * @since 2.1.0
*/
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    /* BACKGROUND GRADIENT */
    /* TRANSFORM STYLE */ } }

.woocommerce {
  /* Single Product */ }
  .woocommerce .products-list {
    margin-left: -30px; }
    .woocommerce .products-list .product-items {
      float: left;
      position: relative; }
      .woocommerce .products-list .product-items .product-item-wrap {
        margin-left: 30px;
        margin-bottom: 30px; }
        .woocommerce .products-list .product-items .product-item-wrap img {
          width: 100%; }
        .woocommerce .products-list .product-items .product-item-wrap .product-info {
          border: 1px solid #eee;
          border-top: none;
          padding: 0 30px 30px; }
          .woocommerce .products-list .product-items .product-item-wrap .product-info .product-title, .woocommerce .products-list .product-items .product-item-wrap .product-info .product-title a {
            margin: 0 -30px 17px;
            padding: 10px;
            background-color: #888;
            color: #fff;
            font-size: 18px; }
          .woocommerce .products-list .product-items .product-item-wrap .product-info .price {
            margin-bottom: 15px;
            font-weight: 600; }
    .woocommerce .products-list.columns-2 .product-items {
      width: 50%; }
      .woocommerce .products-list.columns-2 .product-items.first {
        clear: left; }
      @media (max-width: 480px) {
    .woocommerce .products-list.columns-2 .product-items {
      width: 100%; } }
    .woocommerce .products-list.columns-3 .product-items {
      width: 33.3333%; }
      .woocommerce .products-list.columns-3 .product-items.first {
        clear: left; }
      @media (max-width: 991px) {
    .woocommerce .products-list.columns-3 .product-items {
      width: 50%; }
      .woocommerce .products-list.columns-3 .product-items.first {
        clear: none; } }
      @media (max-width: 480px) {
    .woocommerce .products-list.columns-3 .product-items {
      width: 100%; } }
    .woocommerce .products-list.columns-4 .product-items {
      width: 25%; }
      .woocommerce .products-list.columns-4 .product-items.first {
        clear: left; }
      @media (min-width: 768px) and (max-width: 800px) {
    .woocommerce .products-list.columns-4 .product-items {
      width: 33.3333%; }
      .woocommerce .products-list.columns-4 .product-items:nth-child(3n+1) {
        clear: left; }
      .woocommerce .products-list.columns-4 .product-items:nth-child(4n+1) {
        clear: inherit; } }
      @media (max-width: 640px) {
    .woocommerce .products-list.columns-4 .product-items {
      width: 50%; } }
      @media (max-width: 480px) {
    .woocommerce .products-list.columns-4 .product-items {
      width: 100%; } }
    .woocommerce .products-list.columns-6 .product-items {
      width: 16.66667%; }
      .woocommerce .products-list.columns-6 .product-items.first {
        clear: left; }
      @media (max-width: 980px) {
    .woocommerce .products-list.columns-6 .product-items {
      width: 33.33333%; } }
      @media (max-width: 640px) {
    .woocommerce .products-list.columns-6 .product-items {
      width: 50%; } }
      @media (max-width: 480px) {
    .woocommerce .products-list.columns-6 .product-items {
      width: 100%; } }
  .woocommerce .woocommerce-message {
    border-top-color: #84b400;
    /* Global Style */ }
    .woocommerce .woocommerce-message:before {
      color: #84b400; }
  .woocommerce .cms-shop-top-area {
    margin-bottom: 20px; }
  .woocommerce .woocommerce-result-count {
    padding-top: 13px; }
  .woocommerce .woocommerce-ordering {
    float: right; }
    .woocommerce .woocommerce-ordering select {
      background: #f7f7f7 url(../images/select-arrow2.jpg) right center no-repeat;
      border-color: #f7f7f7;
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      /* BACKGROUND GRADIENT */ }
  .woocommerce .price {
    display: block; }
    .woocommerce .price del {
      color: #999; }
      .woocommerce .price del + ins {
        margin-left: 10px; }
    .woocommerce .price ins {
      text-decoration: none; }
  .woocommerce span.onsale {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    min-height: 0;
    min-width: 0;
    line-height: 50px;
    padding: 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    background: #84b400;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    /* BACKGROUND GRADIENT */ }
  .woocommerce .star-rating {
    position: relative;
    display: inline-block;
    text-align: left; }
    .woocommerce .star-rating:before {
      font-family: 'FontAwesome';
      content: '\f005\f005\f005\f005\f005';
      color: #878787;
      font-size: 15px;
      letter-spacing: 2px; }
    .woocommerce .star-rating span {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0;
      overflow: hidden;
      height: 28px; }
      .woocommerce .star-rating span:before {
        font-family: 'FontAwesome';
        content: '\f005\f005\f005\f005\f005';
        font-size: 15px;
        letter-spacing: 2px;
        color: #84b400; }
    .woocommerce .star-rating:after {
      content: attr(title);
      position: absolute;
      top: -50px;
      left: 0;
      width: 180px;
      background-color: #000;
      color: #fff;
      padding: 7px 10px;
      visibility: hidden;
      filter: alpha(opacity=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-opacity: 0;
      -khtml-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      /* BACKGROUND GRADIENT */
      /* OUTLINE RADIUS */
      -webkit-transition: all 300ms ease-in-out 0ms;
      -khtml-transition: all 300ms ease-in-out 0ms;
      -moz-transition: all 300ms ease-in-out 0ms;
      -ms-transition: all 300ms ease-in-out 0ms;
      -o-transition: all 300ms ease-in-out 0ms;
      transition: all 300ms ease-in-out 0ms;
      /* BACKGROUND GRADIENT */
      /* TRIPLE BORDERS */
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      /* BACKGROUND GRADIENT */ }
    .woocommerce .star-rating:hover:after {
      visibility: visible;
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-opacity: 1;
      -khtml-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      /* BACKGROUND GRADIENT */
      /* OUTLINE RADIUS */ }
  .woocommerce p.stars {
    /* Shop Table */ }
    .woocommerce p.stars a {
      margin: 0 10px;
      font-size: 0;
      color: #878787;
      position: relative; }
      .woocommerce p.stars a:before {
        position: absolute;
        top: -60px;
        left: 50%;
        min-width: 120px;
        text-align: center;
        font-size: 17px;
        background-color: #000;
        color: #fff;
        padding: 7px 10px;
        visibility: hidden;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-opacity: 0;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
        /* BACKGROUND GRADIENT */
        /* OUTLINE RADIUS */
        -webkit-transition: all 300ms ease-in-out 0ms;
        -khtml-transition: all 300ms ease-in-out 0ms;
        -moz-transition: all 300ms ease-in-out 0ms;
        -ms-transition: all 300ms ease-in-out 0ms;
        -o-transition: all 300ms ease-in-out 0ms;
        transition: all 300ms ease-in-out 0ms;
        /* BACKGROUND GRADIENT */
        /* TRIPLE BORDERS */
        -webkit-transform: translateX(-50%);
        -khtml-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        /* BACKGROUND GRADIENT */
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        /* BACKGROUND GRADIENT */ }
      .woocommerce p.stars a:after {
        font-family: 'FontAwesome';
        font-size: 18px;
        letter-spacing: 2px; }
      .woocommerce p.stars a.star-1:after {
        content: '\f006'; }
      .woocommerce p.stars a.star-2:after {
        content: '\f006\f006'; }
      .woocommerce p.stars a.star-3:after {
        content: '\f006\f006\f006'; }
      .woocommerce p.stars a.star-4:after {
        content: '\f006\f006\f006\f006'; }
      .woocommerce p.stars a.star-5:after {
        content: '\f006\f006\f006\f006\f006'; }
      .woocommerce p.stars a:hover, .woocommerce p.stars a.active, .woocommerce p.stars a:active, .woocommerce p.stars a:focus {
        color: #84b400; }
      .woocommerce p.stars a:hover:before, .woocommerce p.stars a.active:before, .woocommerce p.stars a:active:before, .woocommerce p.stars a:focus:before {
        visibility: visible;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-opacity: 1;
        -khtml-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        /* BACKGROUND GRADIENT */
        /* OUTLINE RADIUS */ }
      .woocommerce p.stars a:hover.star-1:before, .woocommerce p.stars a.active.star-1:before, .woocommerce p.stars a:active.star-1:before, .woocommerce p.stars a:focus.star-1:before {
        content: 'Very Poor'; }
        .woocommerce p.stars a:hover.star-1:after, .woocommerce p.stars a.active.star-1:after, .woocommerce p.stars a:active.star-1:after, .woocommerce p.stars a:focus.star-1:after {
          content: '\f005'; }
      .woocommerce p.stars a:hover.star-2:before, .woocommerce p.stars a.active.star-2:before, .woocommerce p.stars a:active.star-2:before, .woocommerce p.stars a:focus.star-2:before {
        content: 'Not that bad'; }
        .woocommerce p.stars a:hover.star-2:after, .woocommerce p.stars a.active.star-2:after, .woocommerce p.stars a:active.star-2:after, .woocommerce p.stars a:focus.star-2:after {
          content: '\f005\f005'; }
      .woocommerce p.stars a:hover.star-3:before, .woocommerce p.stars a.active.star-3:before, .woocommerce p.stars a:active.star-3:before, .woocommerce p.stars a:focus.star-3:before {
        content: 'Average'; }
        .woocommerce p.stars a:hover.star-3:after, .woocommerce p.stars a.active.star-3:after, .woocommerce p.stars a:active.star-3:after, .woocommerce p.stars a:focus.star-3:after {
          content: '\f005\f005\f005'; }
      .woocommerce p.stars a:hover.star-4:before, .woocommerce p.stars a.active.star-4:before, .woocommerce p.stars a:active.star-4:before, .woocommerce p.stars a:focus.star-4:before {
        content: 'Good'; }
        .woocommerce p.stars a:hover.star-4:after, .woocommerce p.stars a.active.star-4:after, .woocommerce p.stars a:active.star-4:after, .woocommerce p.stars a:focus.star-4:after {
          content: '\f005\f005\f005\f005'; }
      .woocommerce p.stars a:hover.star-5:before, .woocommerce p.stars a.active.star-5:before, .woocommerce p.stars a:active.star-5:before, .woocommerce p.stars a:focus.star-5:before {
        content: 'Perfect'; }
        .woocommerce p.stars a:hover.star-5:after, .woocommerce p.stars a.active.star-5:after, .woocommerce p.stars a:active.star-5:after, .woocommerce p.stars a:focus.star-5:after {
          content: '\f005\f005\f005\f005\f005'; }
  .woocommerce .shop_table {
    color: #1f1f1f;
    margin-bottom: 30px; }
    .woocommerce .shop_table .product-remove {
      text-align: center;
      color: #999; }
      .woocommerce .shop_table .product-remove a {
        color: #999; }
      .woocommerce .shop_table .product-remove a:hover {
        color: red; }
    .woocommerce .shop_table .product-thumbnail {
      width: 90px; }
      .woocommerce .shop_table .product-thumbnail img {
        max-width: 70px; }
    .woocommerce .shop_table .product-name {
      font-weight: 600;
      color: #1f1f1f; }
    .woocommerce .shop_table.woocommerce-checkout-review-order-table thead th, .woocommerce .shop_table.woocommerce-checkout-review-order-table thead td {
      font-weight: 600; }
      .woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot .shipping th, .woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot .shipping td {
        border-bottom: 0;
        text-align: left; }
      .woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot .order-total {
        background: #f7f7f7; }
        .woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot .order-total th, .woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot .order-total td {
          border-bottom: 0; }
      .woocommerce .shop_table.woocommerce-checkout-review-order-table th, .woocommerce .shop_table.woocommerce-checkout-review-order-table td {
        padding: 20px 30px;
        font-weight: normal; }
      .woocommerce .shop_table.woocommerce-checkout-review-order-table th.product-total, .woocommerce .shop_table.woocommerce-checkout-review-order-table td.product-total {
        width: 20%; }
  .woocommerce #respond input#submit.loading, .woocommerce .btn.loading, .woocommerce button.button.loading, .woocommerce input.button.loading, .woocommerce .add_to_cart_button.loading {
    filter: alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    -webkit-opacity: 0.25;
    -khtml-opacity: 0.25;
    -moz-opacity: 0.25;
    -ms-opacity: 0.25;
    -o-opacity: 0.25;
    opacity: 0.25;
    /* BACKGROUND GRADIENT */
    /* OUTLINE RADIUS */ }
    .woocommerce #respond input#submit.loading:after, .woocommerce .btn.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after, .woocommerce .add_to_cart_button.loading:after {
      content: "\f110";
      font-family: 'FontAwesome';
      -webkit-animation: spin 2s linear infinite;
      -khtml-animation: spin 2s linear infinite;
      -moz-animation: spin 2s linear infinite;
      -ms-animation: spin 2s linear infinite;
      -o-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      /* BACKGROUND GRADIENT */
      margin-left: 7px; }
    .woocommerce #respond input#submit.added:after, .woocommerce .btn.added:after, .woocommerce button.button.added:after, .woocommerce input.button.added:after, .woocommerce .add_to_cart_button.added:after {
      content: "\e66c";
      margin-left: 7px; }
    .woocommerce #respond input#submit.added + .wc-forward, .woocommerce .btn.added + .wc-forward, .woocommerce button.button.added + .wc-forward, .woocommerce input.button.added + .wc-forward, .woocommerce .add_to_cart_button.added + .wc-forward {
      margin-top: 15px;
      display: inline-block; }
  .woocommerce .loop-pagination {
    margin-top: 20px; }

.single-product div.product .product_meta > span {
  display: block;
  margin-bottom: 15px;
  font-size: 14px; }
  .single-product div.product .single-top-area {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee; }
  .single-product div.product .single-top-area span.onsale {
    left: 15px;
    right: auto; }
  .single-product div.product .single-top-area .images > a {
    display: block; }
  .single-product div.product .single-top-area .images .thumbnails {
    margin-top: 10px;
    margin-left: -10px; }
    .single-product div.product .single-top-area .images .thumbnails a {
      margin: 0 0 10px 10px !important;
      width: inherit !important;
      display: inline-block; }
  @media (max-width: 991px) {
        .single-product div.product .single-top-area .images {
          margin-bottom: 30px; } }
  .single-product div.product .single-top-area .single-info-wrapper .product_title {
    margin-bottom: 15px;
    text-transform: uppercase; }
  .single-product div.product .single-top-area .single-info-wrapper div[itemprop="offers"] {
    font-size: 18px;
    font-weight: 600; }
    @media (min-width: 640px) {
        .single-product div.product .single-top-area .single-info-wrapper div[itemprop="offers"] {
          float: left;
          margin-right: 40px; } }
    .single-product div.product .single-top-area .single-info-wrapper div[itemprop="offers"] del {
      color: #999; }
      .single-product div.product .single-top-area .single-info-wrapper div[itemprop="offers"] del + ins {
        margin-left: 10px; }
    .single-product div.product .single-top-area .single-info-wrapper div[itemprop="offers"] ins {
      color: #84b400;
      text-decoration: none; }
  .single-product div.product .single-top-area .single-info-wrapper div[itemprop="description"] {
    margin-top: 12px;
    clear: both; }
  .single-product div.product .single-top-area .single-info-wrapper form.cart {
    margin: 15px 0 35px; }
    .single-product div.product .single-top-area .single-info-wrapper form.cart .reset_variations {
      display: none; }
    .single-product div.product .single-top-area .single-info-wrapper form.cart .quantity .qty {
      width: 100px;
      margin: 0 0 0 10px;
      padding-right: 0;
      text-align: center;
      border-color: #84b400;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      /* BACKGROUND GRADIENT */ }
    .single-product div.product .single-top-area .single-info-wrapper form.cart.variations_form span.price {
      display: block;
      margin-bottom: 30px;
      color: #84b400; }
      .single-product div.product .single-top-area .single-info-wrapper form.cart.variations_form span.price del {
        display: inline-block;
        color: #999;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-opacity: 1;
        -khtml-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        /* BACKGROUND GRADIENT */
        /* OUTLINE RADIUS */ }
        .single-product div.product .single-top-area .single-info-wrapper form.cart.variations_form span.price del + ins {
          margin-left: 10px; }
      .single-product div.product .single-top-area .single-info-wrapper form.cart.variations_form span.price ins {
        display: inline-block;
        text-decoration: none; }
  .single-product div.product .single-top-area .single-info-wrapper .variations_form.cart table.variations td.label {
    display: block;
    line-height: normal;
    font-size: 100%;
    color: inherit;
    padding-top: 20px;
    padding-left: 10px;
    border: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    /* BACKGROUND GRADIENT */
    text-transform: capitalize; }
    .single-product div.product .single-top-area .single-info-wrapper .variations_form.cart table.variations td.label label {
      margin: 0; }
    .single-product div.product .single-top-area .single-info-wrapper .variations_form.cart table.variations td.value select {
      height: 50px; }
  .single-product div.product .single-top-area .single-info-wrapper .product-share a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eee;
    color: #bbb;
    display: inline-block; }
    .single-product div.product .single-top-area .single-info-wrapper .product-share a:hover, .single-product div.product .single-top-area .single-info-wrapper .product-share a:active, .single-product div.product .single-top-area .single-info-wrapper .product-share a:focus, .single-product div.product .single-top-area .single-info-wrapper .product-share a.active {
      border-color: #84b400;
      color: #84b400; }
  .single-product div.product .woocommerce-tabs {
    margin-top: 40px; }
  .single-product div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #eee; }
    .single-product div.product .woocommerce-tabs ul.tabs:before {
      display: none !important; }
    .single-product div.product .woocommerce-tabs ul.tabs li {
      display: inline-block;
      text-align: center; }
    .single-product div.product .woocommerce-tabs ul.tabs li a {
      color: #333;
      font-weight: 600;
      border: 1px solid #f7f7f7;
      background-color: #f7f7f7;
      padding: 10px 15px;
      position: relative;
      display: inline-block;
      margin-bottom: -1px;
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      /* BACKGROUND GRADIENT */
      -webkit-transition: all 300ms ease-in-out 0ms;
      -khtml-transition: all 300ms ease-in-out 0ms;
      -moz-transition: all 300ms ease-in-out 0ms;
      -ms-transition: all 300ms ease-in-out 0ms;
      -o-transition: all 300ms ease-in-out 0ms;
      transition: all 300ms ease-in-out 0ms;
      /* BACKGROUND GRADIENT */
      /* TRIPLE BORDERS */ }
    .single-product div.product .woocommerce-tabs ul.tabs li:before, .single-product div.product .woocommerce-tabs ul.tabs li:after {
      display: none; }
    .single-product div.product .woocommerce-tabs ul.tabs li.active a, .single-product div.product .woocommerce-tabs ul.tabs li:hover a {
      background-color: #fff;
      border-color: #84b400;
      border-bottom-color: transparent;
      color: #525252; }
    @media (min-width: 768px) {
        .single-product div.product .woocommerce-tabs ul.tabs {
          width: 170px;
          float: left;
          border: none;
          margin: 0; }
          .single-product div.product .woocommerce-tabs ul.tabs li {
            display: block;
            margin: 0 0 5px 0; }
            .single-product div.product .woocommerce-tabs ul.tabs li a {
              display: block; }
            .single-product div.product .woocommerce-tabs ul.tabs li:hover a, .single-product div.product .woocommerce-tabs ul.tabs li.active a {
              border-bottom-color: #84b400; } }
  .single-product div.product .woocommerce-tabs .panel {
    margin-bottom: 0px;
    -webkit-box-shadow:  0 0 0 transparent;
    -khtml-box-shadow:  0 0 0 transparent;
    -moz-box-shadow:  0 0 0 transparent;
    -ms-box-shadow:  0 0 0 transparent;
    -o-box-shadow:  0 0 0 transparent;
    box-shadow:  0 0 0 transparent;
    /* BACKGROUND GRADIENT */ }
  .single-product div.product .woocommerce-tabs .panel #reviews #comments > h2 {
    margin-bottom: 30px; }
    .single-product div.product .woocommerce-tabs .panel #reviews #comments ol.commentlist li {
      margin-bottom: 20px; }
      .single-product div.product .woocommerce-tabs .panel #reviews #comments ol.commentlist li .comment_container > img {
        float: left;
        margin-right: 20px; }
      .single-product div.product .woocommerce-tabs .panel #reviews #comments ol.commentlist li:last-child {
        margin-bottom: 40px; }
  @media (min-width: 768px) {
        .single-product div.product .woocommerce-tabs .panel {
          padding-left: 200px; } }
  .single-product div.product .related, .single-product div.product .upsells {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #f7f7f7; }
  .single-product div.product .related > h3, .single-product div.product .upsells > h3 {
    margin-bottom: 30px; }

.woocommerce-page {
  /* Widget style */ }
  .woocommerce-page table.cart td.actions {
    text-align: right; }
  .woocommerce-page table.cart td.actions > .coupon {
    display: none; }
  .woocommerce-page .cart-proceed-to-checkout {
    margin-bottom: 40px; }
  @media (max-width: 380px) {
    .woocommerce-page .cart-proceed-to-checkout .btn {
      width: 100%; }
      .woocommerce-page .cart-proceed-to-checkout .btn + .btn {
        margin-top: 15px; } }
  .woocommerce-page .cart-title, .woocommerce-page .cart_totals > h2 {
    margin-bottom: 18px;
    /**
	 * Cart page 
	 * @since 2.1.0 
	*/ }
  .woocommerce-page.woocommerce-cart {
    /* Checkout Page */ }
  .woocommerce-page.woocommerce-cart .cross-sells > h2 {
    position: relative;
    margin: 30px 0 30px 0;
    padding: 0 0 25px 0;
    text-transform: uppercase; }
  .woocommerce-page.woocommerce-cart .cross-sells > h2:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 3px;
    background-color: #84b400; }
  .woocommerce-page.woocommerce-cart .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-button {
    display: none; }
  .woocommerce-page.woocommerce-cart .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form {
    display: block !important; }
  .woocommerce-page.woocommerce-cart .cart-collaterals .woocommerce-cart-form-coupon input[name="coupon_code"] {
    margin-bottom: 10px; }
  .woocommerce-page.woocommerce-cart .cart-collaterals .cart_totals > h2 {
    line-height: 22px;
    letter-spacing: 0.54px;
    font-weight: 800;
    font-size: 18px; }
  .woocommerce-page.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-calculator {
    /* remove shipping */
    display: none; }
  .woocommerce-page.woocommerce-checkout {
    /* Thank you Page */ }
  .woocommerce-page.woocommerce-checkout .woocommerce-info {
    padding: 0;
    margin: 0;
    border: none; }
  .woocommerce-page.woocommerce-checkout form.woocommerce-checkout {
    margin-top: 50px; }
  .woocommerce-page.woocommerce-checkout form.woocommerce-checkout h3 {
    margin: 40px 0; }
  .woocommerce-page.woocommerce-checkout form.woocommerce-checkout #ship-to-different-address label {
    margin: 0; }
  @media (min-width: 768px) {
      .woocommerce-page.woocommerce-checkout form.woocommerce-checkout .form-row-first, .woocommerce-page.woocommerce-checkout form.woocommerce-checkout .form-row-last {
        width: 50%;
        float: left; }
      .woocommerce-page.woocommerce-checkout form.woocommerce-checkout .form-row-first {
        padding-right: 5px; }
      .woocommerce-page.woocommerce-checkout form.woocommerce-checkout .form-row-last {
        padding-left: 5px; } }
  .woocommerce-page.woocommerce-checkout .woocommerce-account-fields {
    display: block;
    clear: both;
    padding-left: 25px; }
  .woocommerce-page.woocommerce-checkout #place_order {
    margin-top: 40px; }
  .woocommerce-page.woocommerce-order-received .bacs_details {
    margin-bottom: 30px; }

.woocommerce.widget ul {
  list-style: none;
  /* Product Search */ }
  .woocommerce.widget.widget_product_search {
    /* Shopping Cart */ }
  .woocommerce.widget.widget_product_search form.woocommerce-product-search {
    position: relative; }
  .woocommerce.widget.widget_product_search form.woocommerce-product-search:before {
    font-size: 20px;
    position: absolute;
    right: 16px;
    top: 11px;
    content: "\e618";
    font-family: Pe-icon-7-stroke; }
  .woocommerce.widget.widget_product_search form.woocommerce-product-search .screen-reader-text {
    display: none; }
  .woocommerce.widget.widget_product_search form.woocommerce-product-search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    width: 44px;
    height: 44px;
    font-size: 0;
    padding: 0;
    margin: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    /* BACKGROUND GRADIENT */
    /* OUTLINE RADIUS */ }
  .woocommerce.widget.widget_shopping_cart {
    /* Layered NAV */ }
  .woocommerce.widget.widget_shopping_cart .cart_list li {
    clear: both;
    position: relative; }
    .woocommerce.widget.widget_shopping_cart .cart_list li a.remove {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background-color: rgba(132, 180, 0, 0.7);
      color: #fff; }
    .woocommerce.widget.widget_shopping_cart .cart_list li .quantity {
      display: block; }
    .woocommerce.widget.widget_shopping_cart .cart_list li + li {
      margin-top: 15px; }
  .woocommerce.widget.widget_shopping_cart .total {
    margin-top: 20px; }
  .woocommerce.widget.widget_layered_nav {
    /* Product Categories */ }
  .woocommerce.widget.widget_layered_nav ul li {
    font-size: 11px;
    text-transform: uppercase;
    color: #666;
    line-height: 28px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px; }
  .woocommerce.widget.widget_layered_nav ul li a {
    color: #666;
    letter-spacing: -0.04em;
    display: inline-block;
    width: 90%; }
  .woocommerce.widget.widget_layered_nav ul li:hover {
    color: #84b400; }
    .woocommerce.widget.widget_layered_nav ul li:hover a {
      color: #84b400; }
  .woocommerce.widget.widget_layered_nav ul li:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  .woocommerce.widget.widget_layered_nav ul li span {
    float: right; }
  .woocommerce.widget.widget_product_categories {
    /* Price Filter */ }
  .woocommerce.widget.widget_product_categories ul.product-categories {
    list-style: disc inside; }
  .woocommerce.widget.widget_product_categories ul.product-categories li {
    padding: 5px 0;
    font-weight: 600;
    color: #aaa; }
    .woocommerce.widget.widget_product_categories ul.product-categories li a {
      color: #aaa; }
    .woocommerce.widget.widget_product_categories ul.product-categories li.cat-parent > a {
      padding-bottom: 5px; }
    .woocommerce.widget.widget_product_categories ul.product-categories li .children {
      list-style: disc inside; }
    .woocommerce.widget.widget_product_categories ul.product-categories li:hover > a, .woocommerce.widget.widget_product_categories ul.product-categories li:active > a, .woocommerce.widget.widget_product_categories ul.product-categories li:focus > a, .woocommerce.widget.widget_product_categories ul.product-categories li:hover > span, .woocommerce.widget.widget_product_categories ul.product-categories li:active > span, .woocommerce.widget.widget_product_categories ul.product-categories li:focus > span {
      color: #84b400; }
  .woocommerce.widget.widget_price_filter {
    border-bottom: 1px solid #888;
    padding-bottom: 30px;
    /* Products List */ }
  .woocommerce.widget.widget_price_filter .wg-title {
    margin-bottom: 35px; }
  .woocommerce.widget.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    background-color: #eee;
    border: 0;
    height: 5px;
    margin-right: 14px; }
  .woocommerce.widget.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #84b400; }
  .woocommerce.widget.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 14px;
    height: 14px;
    background-color: #84b400;
    cursor: ew-resize;
    outline: 0;
    top: -5px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    /* BACKGROUND GRADIENT */ }
  .woocommerce.widget.widget_price_filter .price_slider_amount {
    text-align: right;
    margin-top: 30px;
    text-transform: capitalize; }
  .woocommerce.widget.widget_price_filter .price_slider_amount .button {
    float: left;
    background-color: #84b400;
    border-color: #84b400; }
  .woocommerce.widget.widget_price_filter .price_slider_amount .price_label {
    padding-top: 20px; }
  .woocommerce.widget.widget_price_filter .price_slider_amount input {
    margin-bottom: 15px; }
  .woocommerce.widget.widget_price_filter .price_slider_amount button {
    text-transform: capitalize;
    font-weight: 600; }
  .woocommerce.widget ul.product_list_widget li {
    clear: both;
    position: relative; }
  .woocommerce.widget ul.product_list_widget li a {
    font-weight: 600;
    display: block; }
    .woocommerce.widget ul.product_list_widget li a img {
      float: right;
      margin-left: 15px;
      max-width: 55px; }
    .woocommerce.widget ul.product_list_widget li a span {
      display: block; }
  .woocommerce.widget ul.product_list_widget li .reviewer {
    display: none; }
  .woocommerce.widget ul.product_list_widget li .amount {
    display: block;
    font-weight: 600; }
  .woocommerce.widget ul.product_list_widget li + li {
    margin-top: 15px; }

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  padding: 15px;
  margin: 0 0 30px;
  position: relative;
  background-color: #fff;
  border-top: 3px solid;
  list-style: none !important;
  width: auto; }

.woocommerce-error {
  border-top-color: #b81c23; }

.woocommerce-info {
  border-top-color: #00aa4c; }

.woocommerce-message {
  border-top-color: #ffae00;
  /* Shop Top Widgets */ }
  .woocommerce-message .button {
    float: right; }

.cms-woo-top-widget {
  /* custom some css in prettyPhoto */ }
  .cms-woo-top-widget > div + div {
    padding-top: 30px; }

div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_arrow_previous {
  margin-top: 5px;
  /**
 * Product Images 
 * @since 2.1.0
 * @since WC 3.0.x
*/ }

.woocommerce-product-gallery {
  position: relative;
  margin-bottom: 30px;
  /**
 * @since 2.1.0
 * @since WC 3.0.x
*/ }
  .woocommerce-product-gallery img {
    width: 100%; }
  .woocommerce-product-gallery .woocommerce-product-gallery__wrapper, .woocommerce-product-gallery .flex-control-nav {
    margin: -5px;
    box-sizing: border-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .woocommerce-product-gallery .woocommerce-product-gallery__image a, .woocommerce-product-gallery .flex-control-nav li {
    padding: 5px; }
  .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(1) {
    width: 100%;
    display: block; }
  .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2), .woocommerce-product-gallery .flex-control-nav li {
    display: inline-block;
    vertical-align: top;
    width: calc(20%);
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: flex;
    /* Gallery Zoom */ }
  .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) img, .woocommerce-product-gallery .flex-control-nav li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    -moz-object-fit: cover;
    -ms-filter-object-fit: cover;
    -webkit-object-fit: cover; }
  .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #84b400; }
  .woocommerce-product-gallery .woocommerce-product-gallery__trigger img {
    display: none !important; }
  .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
    color: #fff;
    content: "\f00e";
    font-family: 'FontAwesome';
    font-size: 20px;
    background: transparent;
    visibility: visible;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    /* BACKGROUND GRADIENT */
    /* OUTLINE RADIUS */
    position: static; }
  .woocommerce-product-gallery .woocommerce-product-gallery__trigger:after {
    display: none; }
  .woocommerce-product-gallery .flex-viewport .onsale {
    left: 10px;
    right: auto; }
  .woocommerce-product-gallery .flex-viewport + .flex-control-nav {
    margin-top: 5px; }
  .woocommerce-product-gallery a {
    position: relative;
    display: block; }
  .woocommerce-product-gallery a:before, .woocommerce-product-gallery a:after {
    display: block;
    visibility: hidden;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    /* BACKGROUND GRADIENT */
    /* OUTLINE RADIUS */
    -webkit-transition: all 300ms ease-in-out 0ms;
    -khtml-transition: all 300ms ease-in-out 0ms;
    -moz-transition: all 300ms ease-in-out 0ms;
    -ms-transition: all 300ms ease-in-out 0ms;
    -o-transition: all 300ms ease-in-out 0ms;
    transition: all 300ms ease-in-out 0ms;
    /* BACKGROUND GRADIENT */
    /* TRIPLE BORDERS */ }
  .woocommerce-product-gallery a:before {
    content: "";
    background: rgba(0, 1, 0, );
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px; }
  .woocommerce-product-gallery a:after {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -khtml-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /* BACKGROUND GRADIENT */
    /* Button Option */
    color: #fff;
    content: "\f00e";
    font-family: 'FontAwesome';
    font-size: 40px; }
  .woocommerce-product-gallery a:hover:before, .woocommerce-product-gallery a:hover:after {
    visibility: visible;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    /* BACKGROUND GRADIENT */
    /* OUTLINE RADIUS */ }

#shipping_method, .wc_payment_methods {
  list-style: none;
  /* Columns Set */ }

.col2-set {
  margin: 0 -15px;
  clear: both;
  display: block;
  overflow: hidden; }
  .col2-set .col-1, .col2-set .col-2 {
    padding: 0 15px; }
  @media (min-width: 992px) {
    .col2-set .col-1, .col2-set .col-2 {
      width: calc(50%);
      float: left; } }

@media (max-width: 991px) {
    .shop_table_responsive tbody th, .shop_table_responsive thead, .shop_table_responsive tfoot tr.order_item th {
      display: none; }
    .shop_table_responsive tr td {
      display: block;
      text-align: right !important; }
      .shop_table_responsive tr td:before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left; }
      .shop_table_responsive tr td.product-thumbnail {
        display: none; }
      .shop_table_responsive tr td.product-remove:before, .shop_table_responsive tr td.actions:before {
        display: none; }
      .shop_table_responsive tr.cart_item td {
        border-bottom: 1px solid #eee; }
      .shop_table_responsive tr.cart_item td:last-child {
        border-bottom: 0; }
    .shop_table_responsive tbody tr.order_item td {
      border-bottom: 2px solid #eee; }
      .shop_table_responsive tbody tr.order_item td:last-child {
        border-bottom: 0; }
    .shop_table_responsive tfoot tr td:before {
      content: attr(data-title); } }
